{erl_opts, [debug_info]}.
{src_dirs, ["src"]}.

{deps, [
  {meck, "0.9.2"}
]}.

{eunit_tests, []}.
%% Options for eunit:test(Tests, Opts)
{eunit_opts, [verbose]}.

{dialyzer, [
  {warnings, [underspecs, no_return]},
  {get_warnings, true},
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {plt_prefix, "rebar3"},
  {base_plt_apps, [stdlib, kernel, crypto]},
  {base_plt_location, global},
  {base_plt_prefix, "rebar3"}
]}.


{xref_warnings, true}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
  locals_not_used, exports_not_used,
  deprecated_function_calls, deprecated_functions]}.

